body {
    min-height: 100vh;
    flex-direction: column;

}

a.btn {
    margin: 8px;
}

div.divider {
    margin: 8px;
}

div.nav-wrapper {
	background-color: #275590;
}

main {
    flex: 1 0 auto;
}